<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../head %>
    <link rel="stylesheet" href="http://getbootstrap.com/examples/signin/signin.css">
</head>

<body class="container">
    <div class="container">

        <form action="/login" method="post" class="form-signin" role="form">
            <h2 class="form-signin-heading">Please sign in</h2>
            <%if (loginMessage) { %>
                <%= loginMessage %>
            <% } %>
            <input type="email" name="email" class="form-control" placeholder="Email address" required autofocus>
            <input type="password" name="password" class="form-control" placeholder="Password" required>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        </form>

    </div>
    <!-- /container -->
</body>

</html>