<div class="row">
    <div class="col-sm-12 col-md-12">
        <button data-toggle="modal" ng-click="resetNewFile()" data-target="#uploadFileModal" class="btn btn-primary">
            Upload Files
        </button>
        <button data-toggle="modal" ng-click="resetNewFolder()" data-target="#createFolderModal" class="btn btn-primary">
            Create Folder
        </button>
        <!--
        <button data-toggle="modal" ng-click="resetNewFileDump()" data-target="#createFileDumpModal" class="btn btn-primary">
            Create File Dump
        </button>
-->
    </div>
</div>
<div class="row">
    <div class="col-sm-1 col-md 1">
        <div style="cursor: pointer" ng-show="path.length > 0" ng-click="goUpDirectory()">
            Up <i ng-disabled="path.length === 0" class="icon ion-arrow-up-a"></i>
        </div>
    </div>
    <div class="col-sm-11 col-md 11">
        Path: /{{ path }}
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12">
        <div cg-busy="{promise:tablePromise,message:tableMessage,backdrop:true,delay:0}">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th></th>
                        <th>File Name</th>
                        <th>Date Created</th>
                        <th>Last Modified</th>
                        <th>Size</th>
                        <th>Options</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="entity in entities">
                        <td>
                            <i class="icon" ng-class="{'ion-document': entity.type == 'file', 'ion-ios7-folder': entity.type == 'folder'}"></i>
                        </td>
                        <td>
                            <span class="fake-link" ng-click="open(entity)">
                            {{ entity.name }}
                        </span>
                        </td>
                        <td>
                            {{ entity.date_added | date:'medium' }}
                        </td>
                        <td>
                            {{ entity.last_modified | date:'medium' }}
                        </td>
                        <td>
                            {{ entity.size | byteFilter }}
                        </td>
                        <td>
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                                    Options
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                    <li role="presentation">
                                        <a class="pointer" ng-if="entity.type == 'file'" target="_self" ng-href="/download/{{ entity.key }}" download="{{ entity.name }}">
                                           <i class="icon ion-ios7-cloud-download"></i>
                                            Download
                                        </a>
                                    </li>
                                    <li role="presentation">
                                        <a class="pointer" ng-if="entity.type == 'file'" ng-click="share(entity)">
                                           <i class="icon ion-share"></i>
                                            Share
                                        </a>
                                    </li>
                                    <li role="presentation">
                                        <a class="pointer" role="menuitem" ng-click="delete(entity)">
                                           <i class="icon ion-trash-b"></i>
                                            Delete
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="modal fade" id="uploadFileModal" tabindex="-1" role="dialog" aria-labelledby="uploadFileModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="uploadFileModalLabel">Upload Files</h4>
            </div>
            <div class="modal-body">
                <div class="dropzone" ng-file-drop="onFileSelect($files)">Drop files here to upload</div>
                <div class="row" style="margin-top: 10px">
                    <div class="col-md-12" style="border-bottom: 1px solid black">
                        File upload queue
                    </div>
                </div>
                <div class="upload-file-queue">
                    <div ng-repeat="file in fileUploadQueue" class="row">
                        <div class="col-md-10">
                            {{ file.name }}
                        </div>
                        <div class="col-md-2">
                            {{ file.progress }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="createFolderModal" tabindex="-1" role="dialog" aria-labelledby="createFolderModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="createFolderModalLabel">Create Folder</h4>
            </div>
            <div class="modal-body">
                <form ng-submit="createNewFolder()" class="form-horizontal" role="form">
                    <div class="form-group">
                        <label for="newFolderName" class="col-sm-3 control-label">Folder name:</label>
                        <div class="col-sm-9">
                            <input type="text" ng-model="newFolder.name" class="form-control" id="newFolderName" placeholder="Name">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <input type="submit" class="btn btn-primary" value="Create" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="createFileDumpModal" tabindex="-1" role="dialog" aria-labelledby="createFileDumpModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="createFileDumpModalLabel">Create File Dump</h4>
            </div>
            <div class="modal-body">

            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="filePreviewModal" tabindex="-1" role="dialog" aria-labelledby="filePreviewModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="filePreviewModalLabel">{{ filePreview.name }}</h4>
            </div>
            <div class="modal-body" style="text-align: center">
                <img class="image-preview" ng-if="filePreview.type == 'image'" ng-src="{{ filePreview.url }}" alt="{{ filePreview.name }}">
                <videogular ng-if="filePreview.type == 'video'" vg-theme="videoPlayer.theme">
                    <vg-video vg-src="filePreview.url" vg-native-controls="true">
                    </vg-video>
                </videogular>
            </div>
        </div>
    </div>
</div>